{% extends "base.html.twig" %}

{% block body %}

    <h2>
        <img class="rounded-circle" width="100" height="100" src="img/book.png" data-holder-rendered="true">
        {{ app.user.username }}
    </h2>
    <br>
    <div class="jumbotron">
        {% for n in app.user.articles %}
        <p align="right" class="text-primary"> <b>Comments:</b> {{ n.comments | length }}</p>
        <p> {{ n.content }}  </p>      
        {% endfor %}
    </div>
    
{% endblock %}